<div style="margin-top: -25px;">
    <app-admin-topbar></app-admin-topbar>
   </div>
   
   <div>
   <app-admin-sidebar></app-admin-sidebar>
   </div>
   
   <div class="card" style="width: 18rem;margin-left: 600px; margin-top: 40px;">
    <img src="../../../assets/imgs/Nike1.jpg" class="card-img-top" alt="..." height="140px">
   <h4 style="color: black; text-align: center;">ADD PRODUCT</h4>
    <div class="card-body">
      <form action="">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Product name</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter your product name">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Price </label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter your product price">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Description</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter your product description">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Image</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Paste image address">
          </div>
      </form>
    </div>
  </div>
   
   
<!--    
     <div class="footer">
       <app-admin-footer></app-admin-footer>
     </div> -->
