<div style="margin-top: -25px;margin-left: 20px;">
    <app-admin-topbar></app-admin-topbar>
   </div>

   <div>
    <app-admin-sidebar></app-admin-sidebar>
    </div>

    <div class="wrapper" style="margin-left: 20px;">

      <div style="margin-top: 100px;">
       <h4>LISTS OF ORDERS</h4>
     </div><br><br>
  <div class="container">
     <br>
     <table class="table table-striped">
         <thead>
           <tr>
             <th scope="col">Customer Name</th>
             <th scope="col">Product Image</th>
             <th scope="col">Product Name</th>
             <th scope="col">Item Price</th>
             <th scope="col">Quantity</th>
             <th scope="col">Date Ordered</th>
             <th scope="col">Date Approved</th>
             <th scope="col">Status</th>
             <th scope="col">Action</th>
         </thead>
         <tbody>
           <tr>
  
          
  
             <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td>
             <button type="button" class="btn btn-outline-primary" >Delete</button>
             </td>
           </tr>
         </tbody>
       </table>
     </div>
  
    
    <div class="footer">
        <app-admin-footer></app-admin-footer>
      </div>
