<div style="margin-top: -25px;">
    <app-admin-topbar></app-admin-topbar>
   </div>

   <div>
    <app-admin-sidebar></app-admin-sidebar>
    </div>
   
    <div style="margin-top:150px; text-align: center;">
      <h4>PENDING ORDERS</h4>
    </div>
<div class="container">
    <table class="table" style="margin-left:140px" >
      <thead>
        <tr>
          <th scope="col">Customer</th>
          <th scope="col">Address</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Image</th>
          <th scope="col">Product Name</th>
          <th scope="col">Price</th>
          <th scope="col">Date Receive</th>
       
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody *ngFor="let order of orders">
        <tr>
          <th>{{order.user.firstname}}</th>
          <td>{{order.address}}</td>
          <td>{{order.phonenumber}}</td>
          <td><img [src]="order.products[0].product_image" alt="" width="100px"></td>
          <th>{{order.products[0].product_name}}</th>
          <td>{{order.products[0].price}}</td>
          <td>{{order.updated_at}}</td>
         
          <td>{{order.status}}</td>
          <!-- <td>{{order.products.status}}</td> -->
          <!-- <td>
            <button>Approved</button>
          </td> -->
        </tr>
      </tbody>
    </table>
  </div>

    <div class="footer">
        <app-admin-footer></app-admin-footer>
      </div>
