<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="footer my-5 ">
    <!-- Footer -->

    <footer class="text-center text-lg-start text-white" style="background-image: url(../../assets/img/footer.jpg); background-size: cover;background-repeat: no-repeat;">
        <!-- Grid container -->
        <div class="parallax_background parallax-window" data-parallax="scroll" data-speed=" 0.8 "></div>
        <div class="row footer_contact_row ">
            <div class="col-xl-10 offset-xl-1 foot-title "><br><br>
                <b><br><br>
          <h1>Subscribe to our Website to be more updated to our latest trends!</h1>
          <h4>LayShoes Choice your one stop shop choice!</h4>
    
        </b><br><br>
                <div class="row ">

                    <!-- Footer Contact Item -->
                    <div class="col-xl-4 footer_contact_col ">
                        <div class="footer_contact_item d-flex flex-column align-items-center justify-content-start text-center ">
                            <div class="footer_contact_icon "><img src="./assets/img/logos/sign.svg " alt=" " style="width: 40px;height: 40px; "></div>
                            <br>
                            <div class="footer_contact_title "><b>GIVE US A CALL</b></div>
                            <div class="footer_contact_list ">
                                <ul>
                                    <li><i class="fa fa-mobile-phone " style="font-size: 30px;color: black; "></i> Landline: +44 5567 32 664 567
                                    </li>
                                    <li><i class="fa fa-mobile-phone " style="font-size: 30px;color: black; "></i> Mobile: +44 5567 89 3322 332
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Footer Contact Item -->
                    <div class="col-xl-4 footer_contact_col ">
                        <div class="footer_contact_item d-flex flex-column align-items-center justify-content-start text-center ">
                            <div class="footer_contact_icon "><img src="./assets/img/logos/trekking.svg " alt=" " style="width: 40px;height: 40px; "></div>
                            <br>
                            <div class="footer_contact_title "> <b>COME & DROP BY</b>
                            </div>
                            <div class="footer_contact_list ">
                                <ul style="max-width:190px ">
                                    <li>Samjung Bldng, Nasipit Road, Talamban Cebu City</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Footer Contact Item -->
                    <div class="col-xl-4 footer_contact_col ">
                        <div class="footer_contact_item d-flex flex-column align-items-center justify-content-start text-center ">
                            <div class="footer_contact_icon "><img src="./assets/img/logos/around.svg " alt=" " style="width: 40px;height: 40px; "></div>
                            <br>
                            <div class="footer_contact_title "><b> SEND US A MESSAGE</b></div>
                            <div class="footer_contact_list ">
                                <ul>
                                    <li><i class="fa fa-envelope " style="font-size:20px; color: black; "> </i> nikephil@gmail.com</li>
                                    <li><i class="fa fa-envelope " style="font-size:20px; color: black; "> </i> layshoe@gmail.com</li>

                                    <!-- Grid column -->


                                    <!-- Facebook -->
                                    <a href="# " class="fa fa-facebook round "></a>

                                    <!-- Twitter -->
                                    <a href="# " class="fa fa-twitter "></a>

                                    <!-- Youtube -->
                                    <a href="# " class="fa fa-youtube "></a>

                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div><br><br>
        <!-- Section: Links -->

        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3 " style="background-color: rgba(0, 0, 0, 0.2) ">
            © 2021 Copyright:
            <a class="text-white " href="https://mdbootstrap.com/ ">Nike Team Developer</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</div>
<!-- End of .container -->