<div class="sidenav">
  <div style="margin-top: -21px;background-color: #414141;; height: 67px;padding:5px;">
    <h1 style="margin-top: 10px;color: white;">Nike Logo</h1>
  </div>
    <br>
    <button  class="side" routerLink="/userhomepage">Shop All</button><br>
    <button class="side" routerLink="/user-cart"><i class="fa fa-shopping-cart" style="font-size: 14px;color: white;"></i> &nbsp; Cart</button> <br>
    <button class="side" routerLink="/user-order"  ><i class="fas fa-file-alt" style="font-size:14px; color: white;"></i> &nbsp; Order</button>
  </div>
