<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js">
<app-admin-topbar></app-admin-topbar>
<br>
<br>
<div class="wrapper bg-white mt-sm-5">
    <h4 class="pb-4 border-bottom" style="text-align: center;">Account settings</h4>
    <div class="d-flex align-items-start py-3 border-bottom"> <img src="" class="img" alt="" height="50px">
        <br>
        <div class="pl-sm-4 pl-2" id="img-section"> <b>Profile Photo</b>
            <p>Be mindful with your own account</p> <button class="btn button border"><b>Upload</b></button>
        </div>
    </div>
    <div class="py-2">
        <div class="row py-2">
            <div class="col-md-6"> <label for="firstname">First Name</label> <input type="text" class="bg-light form-control"> </div>
            <div class="col-md-6 pt-md-0 pt-3"> <label for="lastname">Last Name</label> <input type="text" class="bg-light form-control"> </div>
        </div>
        <div class="row py-2">
            <div class="col-md-6"> <label for="email">Username</label> <input type="text" class="bg-light form-control" > </div>
            <div class="col-md-6 pt-md-0 pt-3" id="lang"> <label for="language">Language</label>
                <div class="arrow"> <select name="language" id="language" class="bg-light">
                        <option value="english" selected>English</option>
                        <option value="english_us">English (United States)</option>
                        <option value="enguk">English UK</option>
                        <option value="arab">Arabic</option>
                    </select> </div>
            </div>
            <!-- <div class="col-md-6 pt-md-0 pt-3"> <label for="phone">Phone Number</label> <input type="tel" class="bg-light form-control" > </div> -->
        </div>
        <div class="py-3 pb-4 border-bottom"> <button class="btn btn-primary mr-3">Save Changes</button> <button class="btn border button">Cancel</button> </div>
        <div class="d-sm-flex align-items-center pt-3" id="deactivate">
            <div> <b>Deactivate your account</b>
                <p>Details about your company account and password</p>
            </div>
            <div class="ml-auto"> <button class="btn danger">Edit</button> </div>
        </div>
    </div>
</div>
<app-admin-footer></app-admin-footer>
