<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js">
<!-- <app-admin-topbar></app-admin-topbar> -->
<br>
<br>

<div class="wrapper bg-white mt-sm-6">
    <h4 class="pb-5 border-bottom" style="text-align: center;">MY PROFILE</h4>
    <div class="d-flex align-items-start py-5 border-bottom"> <img src="../../../../../assets/img/admin.png" class="img" alt="" width="30px">

        <br>
        <div class="pl-sm-4 pl-2" id="img-section">
            <h3>Profile Photo</h3>
            <h5>Be mindful with your own account</h5>
        </div>
    </div>
    <div class="py-2">
        <div class="row py-2">
            <div class="col-md-6">
                <h5>First Name</h5>
                <p></p>
            </div>
            <div class="col-md-6 pt-md-0 pt-3">
                <h5>Last Name</h5>
                <p></p>
            </div>
        </div>
        <div class="row py-2">
            <div class="col-md-6">
                <h5>Username</h5>
                <p></p>
            </div>

            <!-- <div class="col-md-6 pt-md-0 pt-3"> <label for="phone">Phone Number</label> <input type="tel" class="bg-light form-control" > </div> -->
        </div>

        <div class="d-sm-flex align-items-center pt-3" id="deactivate">
            <div> <b>You mean so much with us</b>
                <p>Please dont forget to update your profile</p>
            </div>
            <div class="ml-auto"> <button class="btn danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Change</button> </div>
        </div>
    </div>
</div>
<div class="footer">
    <app-admin-footer></app-admin-footer>
</div>

<!-- 
modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update profile</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <input type="text" id="form3Example1" class="form-control" />
                                <label class="form-label" for="form3Example1">First name</label>
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-outline">
                                <input type="text" id="form3Example2" class="form-control" />
                                <label class="form-label" for="form3Example2">Last name</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-outline mb-4">
                        <input type="email" id="form3Example3" class="form-control" />
                        <label class="form-label" for="form3Example3">Username</label>
                    </div>

                    <div class="form-outline mb-4">
                        <input type="email" id="form3Example4" class="form-control" />
                        <label class="form-label" for="form3Example3">Password</label>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">update</button>
            </div>

            <div class="ml-auto"> <button class="btn danger">Edit</button> </div>

        </div>
    </div>
</div>
<!-- - -->

<script>
    var myModal = document.getElementById('myModal')
    var myInput = document.getElementById('myInput')

    myModal.addEventListener('shown.bs.modal', function() {
        myInput.focus()
    })
</script>