<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="footer my-5">
    <!-- Footer -->
    <footer
            class="text-center text-lg-start text-white"
            style="background-color: #3a3b3c"
            >
  
      <!-- Copyright -->
      <div
           class="text-center p-3"
           style="background-color: rgba(0, 0, 0, 0.2)"
           >
        © 2021 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/"
           >Nike</a
          >
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </div>
  <!-- End of .container -->
