
table{
    position: relative;
    table-layout: auto;
    width: 100%;
    /* margin-left: auto;
    margin-right: auto; */
}
.wrapper{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
table{
    position: relative;
    table-layout: auto;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;

    
}
h4{
    text-align: center;
    margin-top: 30px;
}