<div style="margin-top: -25px;">
  <app-admin-topbar></app-admin-topbar>
</div>


    <div style="margin-top: -25px;">
        <app-admin-topbar></app-admin-topbar>
       </div>

       <div>
        <app-admin-sidebar></app-admin-sidebar>
        </div>


<!-- table -->
<div class="wrapper" style="margin-left: 20px;">

     <div style="margin-top: 100px;">
      <h4>OUR VALUED CUSTOMERS</h4>
    </div>
<div class="container" style="margin-left: 190px;">



    <br>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">UserName</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody *ngFor="let customer of customers">
          <tr>

            <th scope="row">1</th>

            <td>{{customer.firstname}}</td>
            <td>{{customer.lastname}}</td>
            <td>{{customer.username}}</td>
            <td>
            <button type="button" class="btn btn-outline-primary" (click)="deleteCustomer(customer.id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>



<!-- <div>
  <app-admin-sidebar></app-admin-sidebar>
</div>
  <div class="wrapper">
    <h4>OUR VALUED CUSTOMERS</h4>
    <br>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">FirstName</th>
          <th scope="col">LastName</th>
          <th scope="col">UserName</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody *ngFor="let customer of customers">
        <tr>
          <th scope="row">1</th>
          <td>{{customer.firstname}}</td>
          <td>{{customer.lastname}}</td>
          <td>{{customer.username}}</td>
          <td>
            <button type="button" class="btn btn-outline-danger" onclick="location.href='#'">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div> -->





