
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="margin-top: -25px;">
        <app-admin-topbar></app-admin-topbar>
       </div>

       <div>
        <app-admin-sidebar></app-admin-sidebar>
        </div>

<!-- table -->
<div class="wrapper">

    <h4>OUR VALUED CUSTOMERS</h4>
    <br>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">UserName</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td></td>
            <td></td>
            <td></td>
            <td>
            <button type="button" class="btn btn-outline-primary" onclick="location.href='#'">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</body>
</html>