<div class="sidenav">
    <div style="margin-top: -21px;background-color: #414141;; height: 67px;padding:5px;" routerLink="/admin">
      <h1 style="margin-top: 10px;color: white;">Nike Logo</h1>
    </div>
      <br>
      <button  class="side" routerLink='/addproduct'>Add Product</button><br>
      <button  class="side" routerLink='/products'>Products</button><br>
      <button class="side" routerLink='/customers'>Customer</button> <br>
      <button class="side" routerLink='/order'> Order</button>
    </div>
  
