
<div class="sidenav">
    <div style="margin-top: -21px;background-color: #414141;; height: 67px;padding:5px;" routerLink="/admin">
      <h1 style="margin-top: 10px;color: black;">Nike Logo</h1>
    </div>
      <br>
      <button  class="side" routerLink='/addproduct'>Add Product</button><br>
      <button  class="side" routerLink='/products'>Products</button><br>
      <button class="side" routerLink='/customers'>Customer</button> <br>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" class="side"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Order
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" routerLink='/order'>Pending</a></li>
          <li><a class="dropdown-item" routerLink='/approved'>Approved</a></li>
        </ul>
      </li>

<!-- <div class="sidenav"><br><br><br>
      <button  class="side" routerLink='/addproduct'>Add Product</button><br><br>
      <button  class="side" routerLink='/products'>Products</button><br><br>
      <button class="side" routerLink='/customers'>Customer</button><br><br>
      <button class="side" routerLink='/order'> Order</button>
 -->
    </div>
  
