<div style="margin-top: -30px;">
    <app-top-bar></app-top-bar>
</div>

<div>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../assets/img/head_img.jpg" class="nike d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="../../assets/img/slide2.jpg" class="nike d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="../../assets/img/slide3.jpg" class="nike d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="../../assets/img/slide7.jpg" class="nike d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<hr class="new2">

<section class="page-section" id="services">
    <div class="text-center">
        <h2 class="section-heading text-uppercase">Services</h2>
        <h3 class="section-subheading text-muted">The best service you'll ever experience.</h3>
    </div>
    <div class="container">


        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">E-Commerce</h4>
                <p class="text-muted">LayShoes Choice is one of the top high class shoe mart in the whole world.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Online Shop</h4>
                <p class="text-muted"> We cater not only online services but also physical services.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Web Security</h4>
                <p class="text-muted">Rest assured that upon purchasing us. Secure service is guaranteed to be offer.
                </p>
            </div>
        </div>
    </div>

</section>
<!--   end of services -->

<div class="container" >
    <h4 class="featured">FEATURED PRODUCTS</h4>
</div>
<br>



<!-- 
<div class="container ">
    <div class="row">
        <div class="col" *ngFor="let product of products">
            <div class="card shadow p-3 mb-5 bg-body rounded" style="width: 16rem;" [title]="'Click to see the ' + product.name + ' details'" >
                <img src="../../assets/imgs/sample2.jpg" class="card-img-top" alt="...">

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card shadow p-3 mb-5 bg-body rounded" style="width: 16rem;">
              <img src="" alt="">

                <div class="card-body tag">
                    <h5>Name: </h5>
                    <h6>Price: </h6>

<div class="container" *ngFor="let product of products" >
    <div class="row" >
        <div class="col-md-6">
            <div class="card shadow p-3 mb-5 bg-body rounded" style="width: 16rem;">
              <img src="../../assets/imgs/sample2.jpg" class="card-img-top" alt="">
                <div class="card-body tag">
                    <h5>Name:{{product.name}} </h5>
                    <h6>Price: Php {{product.price}}.00 </h6>

                    <button class="primary cartBtn" routerLink="/product-details">View Details</button><br>
                    <button class="primary cartBtn"> Add to Cart</button>
                </div>
            </div>

        </div>
    </div>

   


</div> -->


<!-- Div Card Cart -->

<div class="flexbox">

    <div class="flexcard flexcardBlue">
        <div class="flexcardNumber flexcardNumberBlue">Php 8500</div>

        <div class="card-body tag">
            <img src="../../assets/imgs/lebron-soldier.jpg" style="width: 10rem;" class="card-img-top" alt="...">
            <h5>Lebron Soldier</h5>

            <button type="button" class="btn-info cartBtn" data-bs-toggle="modal" data-bs-target="#card1">View Details</button><br>
            <button class="primary cartBtn"> Add to Cart </button>
        </div>

    </div>
    <!-- Modal 1-->
    <div class="modal fade" id="card1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="cartBtn btn-secondary" data-bs-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>


    <div class="flexcard flexcardBlue">
        <div class="flexcardNumber flexcardNumberBlue">Php 9500</div>
        <div class="card-body tag">
            <img src="../../assets/imgs/lebron-witness-iv-ep.jpg" style="width: 10rem;" class="card-img-top" alt="...">
            <h5>Lebron Witness IV</h5>

            <button type="button" class="btn-info cartBtn" data-bs-toggle="modal" data-bs-target="#card2">View Details</button><br>
            <button class="primary cartBtn"> Add to Cart </button>
        </div>

    </div>
    <!-- Modal 2-->
    <div class="modal fade" id="card2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="cartBtn btn-secondary" data-bs-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>

    <div class="flexcard flexcardBlue">
        <div class="flexcardNumber flexcardNumberBlue">Php 11000</div>
        <div class="card-body tag">
            <img src="../../assets/imgs/lebron-witness-v-ep-white.jpg" style="width: 10rem;" class="card-img-top" alt="...">
            <h5>Lebron Witness V</h5>

            <button type="button" class="btn-info cartBtn" data-bs-toggle="modal" data-bs-target="#car3">View Details</button><br>
            <button class="primary cartBtn"> Add to Cart </button>
        </div>

    </div>
    <!-- Modal 3-->
    <div class="modal fade" id="car3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="cartBtn btn-secondary" data-bs-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>

    <div class="flexcard flexcardBlue">
        <div class="flexcardNumber flexcardNumberBlue">Php 9000</div>
        <div class="card-body tag">
            <img src="../../assets/imgs/lebron-xvii-grey.jpg" style="width: 10rem;" class="card-img-top" alt="...">
            <h5>Lebron XVII Grey</h5>

            <button type="button" class="btn-info cartBtn" data-bs-toggle="modal" data-bs-target="#card4">View Details</button><br>
            <button class="primary cartBtn "> Add to Cart </button>
        </div>

    </div>
    <!-- Modal 4-->
    <div class="modal fade" id="card4" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="cartBtn btn-secondary" data-bs-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>



</div>
<br>
<br>
<div class="flexbox">
    <div class="flexcard flexcardGreen">
        <div class="flexcardNumber flexcardNumberGreen">Php 7000</div>
        <div class="card-body tag">
            <img src="../../assets/imgs/shirtgrey.jpg" style="width: 10rem;" class="card-img-top" alt="...">
            <h5>Nike Grey </h5>

            <button type="button" class="btn-info cartBtn" data-bs-toggle="modal" data-bs-target="#card5">View Details</button><br>
            <button class="primary cartBtn"> Add to Cart </button>
        </div>

    </div>
    <!-- Modal 5-->
    <div class="modal fade" id="card5" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="cartBtn btn-secondary" data-bs-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>



    <div class="flexcard flexcardGreen">
        <div class="flexcardNumber flexcardNumberGreen">Php 8500</div>
        <div class="card-body tag">
            <img src="../../assets/imgs/yellowshirt.jpg" style="width: 10rem;" class="card-img-top" alt="...">
            <h5>Custard Shirt</h5>

            <button type="button" class="btn-info cartBtn" data-bs-toggle="modal" data-bs-target="#card6">View Details</button><br>
            <button class="primary cartBtn"> Add to Cart </button>
        </div>

    </div>
    <!-- Modal 6-->
    <div class="modal fade" id="card6" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="cartBtn btn-secondary" data-bs-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>

    <div class="flexcard flexcardGreen">
        <div class="flexcardNumber flexcardNumberGreen">Php 9200</div>
        <div class="card-body tag">
            <img src="../../assets/imgs/sleeves.jpg" style="width: 10rem;" class="card-img-top" alt="...">
            <h5>Long Sleeve Nike
            </h5>

            <button type="button" class="btn-info cartBtn" data-bs-toggle="modal" data-bs-target="#card6">View Details</button><br>
            <button class="primary cartBtn"> Add to Cart </button>
        </div>

    </div>

    <!-- Modal 7-->
    <div class="modal fade" id="card6" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="cartBtn btn-secondary" data-bs-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
    <div class="flexcard flexcardGreen">
        <div class="flexcardNumber flexcardNumberGreen">Php 7000</div>
        <div class="card-body tag">
            <img src="../../assets/imgs/cloudshirt.jpg" style="width: 10rem;" class="card-img-top" alt="...">
            <h5>Cloud Shirt</h5>

            <button type="button" class="btn-info cartBtn" data-bs-toggle="modal" data-bs-target="#card8">View Details</button><br>
            <button class="primary cartBtn"> Add to Cart </button>
        </div>

    </div>
    <!-- Modal 8-->
    <div class="modal fade " id="card8" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="cartBtn btn-secondary" data-bs-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>


        </div>
  



</div>
<br><br><br>
<div class="parallax"></div>


<div class="footer">
    <app-footer></app-footer>
</div>