@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

.footer{
    clear: both;
    position: relative;
    margin-top: 537px;
    
   
    
}

.container {
    position: relative;
    display: grid;
    height : 100%;
    margin-top: 150px;
    align-items: center;
   
    
    
}
.main{
    position:relative;
    margin-left: 180px;
   
}
.side{
    position: relative;
    /* margin-left: 15px; */
   justify-content: center;

}
.col-sm{
    border: 1px solid black;
    box-shadow: 5px 5px #888888;
    border-radius: 10px;
    text-align: center;
}