
<div style="margin-top: -25px;">
 <app-admin-topbar></app-admin-topbar>
</div>

<div>
<app-admin-sidebar></app-admin-sidebar>
</div>
  <!-- <div class="wrapper">
    <div class="sidebar">
      <br><br><br> -->
<!-- ADD PRODUCTS FORM -->
      <!-- <form class="form-inline" style="display:flex; position: relative;margin: 5px;">
        &nbsp;&nbsp;<i class='bx bx-plus'></i>&nbsp;<button>ADD PRODUCT</button><br><br>
        <div class="form-group mx-sm-1 mb-2" style="justify-content: center;">
          <label for="inputPassword2" class="sr-only">Product Name</label>
          <input type="password" class="form-control" id="inputPassword2" placeholder="Product Name">
        </div>
        <div class="form-group mx-sm-1 mb-2" style="justify-content: center;">
          <label for="inputPassword2" class="sr-only">Price</label>
          <input type="password" class="form-control" id="inputPassword2" placeholder="Price">
        </div>
        <div class="form-group mx-sm-1 mb-2" style="justify-content: center;">
          <label for="inputPassword2" class="sr-only">Description</label>
          <input type="password" class="form-control" id="inputPassword2" placeholder="Description">
        </div>
      </form> -->
<!-- end -->
    <!-- </div>
    <div class="main_content">
      <div class="header">
        <div class="info">
          <h4 class="featured" style="text-align: center;">FEATURED PRODUCTS</h4>
          <br>
          <hr>
          <br>
          <div class="row">
            <div class="col" *ngFor="let product of products">
              <div class="card shadow p-3 mb-5 bg-body rounded" style="width: 16rem;"
                [title]="'Click to see the ' + product.name + ' details'" routerLink="/product-details">
                <img src="../../assets/imgs/sample2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h6>Name: {{product.name}}</h6>
                  <h6>Price: {{product.price}}.00</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <div class="footer">
    <app-admin-footer></app-admin-footer>
  </div>

