<div>
    <app-admin-sidebar></app-admin-sidebar>
</div>
<div class="main">
  <div>
    <h1 style="text-align:center;">DASHBOARD</h1>
  </div>
  <div class="container">
  <div class="basic-column w-col w-col-4">
      <div class="tag-wrapper" >
          <div class="number-card number-card-content1">
              <h1 class="number-card-number">8</h1>
              <div class="number-card-dollars">Total Products</div>
              <div class="number-card-divider"></div>
          </div>
          <div class="divider"></div>
         
      </div>
  </div>
  <div class="basic-column w-col w-col-4">
      <div class="tag-wrapper">
          <div class="number-card number-card-content2">
              <h1 class="number-card-number">8</h1>
              <div class="number-card-dollars">Customers</div>
              <div class="number-card-divider"></div>
          </div>
          <div class="divider"></div>
         
      </div>
  </div>
  <div class="basic-column w-col w-col-4">
      <div class="tag-wrapper">
          <div class="number-card number-card-content3">
              <h1 class="number-card-number">8</h1>
              <div class="number-card-dollars">Orders</div>
              <div class="number-card-divider"></div>
          </div>
          <div class="divider"></div>
         
      </div>
  </div>

</div>

<br>



    

        <h1 class="fw-light text-center text-lg-start mt-4 mb-0">Products Gallery</h1>

        <hr class="mt-2 mb-5">

        <div class="row text-center text-lg-start " width="100%" height="100px;">

            <div class="col-lg-3 col-md-4 col-6">
                <a  class="d-block mb-4 ">
                    <img class="img-fluid img-thumbnail" height="100px" src="../../../assets/img/slide2.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a  class="d-block mb-4 ">
                    <img class="img-fluid img-thumbnail" height="100px" src="../../../assets/img/slide3.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a  class="d-block mb-4 ">
                    <img class="img-fluid img-thumbnail" height="100px" src="../../../assets/img/slide4.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a  class="d-block mb-4 ">
                    <img class="img-fluid img-thumbnail" height="100px" src="../../../assets/img/slide5.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a  class="d-block mb-4 ">
                    <img class="img-fluid img-thumbnail" height="100px" src="../../../assets/img/slide6.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a  class="d-block mb-4 ">
                    <img class="img-fluid img-thumbnail" height="100px" src="../../../assets/img/slide7.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a  class="d-block mb-4 ">
                    <img class="img-fluid img-thumbnail" height="100px" src="../../../assets/img/slide4.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a  class="d-block mb-4 ">
                    <img class="img-fluid img-thumbnail" height="100px" src="../../../assets/img/slide2.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a  class="d-block mb-4 ">
                    <img class="img-fluid img-thumbnail" height="100px" src="../../../assets/img/slide3.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a  class="d-block mb-4 ">
                    <img class="img-fluid img-thumbnail" height="100px" src="../../../assets/img/slide4.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a  class="d-block mb-4 ">
                    <img class="img-fluid img-thumbnail" height="100px" src="../../../assets/img/slide2.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a  class="d-block mb-4 ">
                    <img class="img-fluid img-thumbnail" height="100px" src="../../../assets/img/slide3.jpg" alt="">
                </a>
            </div>
        </div>

    </div>
    <!-- Gallery -->

 



