
<div style="margin-top: -25px;">
 <app-admin-topbar></app-admin-topbar>
</div>

<div>
<app-admin-sidebar></app-admin-sidebar>
</div>

<div class="main">
<div class="container">
  <div class="column column-one"> Column 1
      <div  class="x" id="sliceX" ></div>
      <div  class="y" id="sliceY"></div>
      <div  class="z" id="sliceZ"></div>
  </div>
  
  <div class="column column-two"> Column 2
      <div  class="x" id="sliceX2"> </div>
      <div  class="y" id="sliceY2"></div>
      <div  class="z" id="sliceZ2"></div>
  </div>
  </div>
</div>

  <div class="footer">
    <app-admin-footer></app-admin-footer>
  </div>

