<app-side-bar></app-side-bar>
<div style="margin-top: -25px;">
    <app-user-top-bar></app-user-top-bar>
</div>



    <h4>MY CART</h4>
    <br>
    <table class="table table-striped" style="width:69%;">
        <thead>
            <tr>
                <th><input type="checkbox" [checked]="allIsSelected"> All</th>
                <th scope="col">Product Image</th>
                <th scope="col">Product Name</th>
                <th scope="col">Product Price</th>
                <th scope="col" width="40%">Description</th>
                <th scope="col">Quantity</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td><input type="checkbox" (change)="selectProduct(product.id)"></td>
                <td>
                    <img [src]="product.product_image" width="100" alt="" srcset="">
                </td>
                <td>{{ product.product_name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.description }}</td>
                <td>
                    <button (click)="minus(product)"> - </button>
                    {{ product.pivot.qty }}
                    <button (click)="plus(product)"> + </button>
                </td>
            </tr>
        </tbody>
    </table>




<div class="card" style="width: 14rem;float: right;margin-top: -200px;">
    <div class="card-body">
        <h5 id="form3Example1">Php {{ total }}</h5>
        <label class="form-label" for="form3Example1">SubTotal</label><br>

        <h5 id="form3Example2">COD</h5>
        <label class="form-label" for="form3Example2">Payment Method</label>
        <br>

        <button type="button" class="btn btn-primary btn-block mb-4" data-bs-toggle="modal"
            data-bs-target="#exampleModal">Check Out</button>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Check Out Order</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <input type="text" id="form3Example1" class="form-control" />
                                <label class="form-label" for="form3Example1">First name</label>
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-outline">
                                <input type="text" id="form3Example2" class="form-control" />
                                <label class="form-label" for="form3Example2">Last name</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-outline mb-4">
                        <input type="email" id="form3Example3" class="form-control" />
                        <label class="form-label" for="form3Example3">Phone Number</label>
                    </div>

                    <div class="form-outline mb-4">
                        <input type="email" id="form3Example4" class="form-control" />
                        <label class="form-label" for="form3Example3">Home Address</label>
                    </div>

                    <div class="row mb-4">
                        <div class="col">
                            <h5 id="totalAmount">Total Amount: {{ total }}</h5>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col">
                            <h5 id="paymentM">Payment Method: COD nationwide </h5>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="dismiss" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" (click)="checkout()">Check Out</button>
            </div>
        </div>
    </div>
</div>
<!-- - -->
<div class="footer" style="position: relative;">
    <app-footer></app-footer>
</div>

<script>
    var myModal = document.getElementById('myModal')
    var myInput = document.getElementById('myInput')

    myModal.addEventListener('shown.bs.modal', function () {
        myInput.focus()
    })
</script>