<app-side-bar></app-side-bar>
<div style="margin-top: -25px;">
    <app-user-top-bar></app-user-top-bar>
</div>

<div class="container"  style="width:100%; margin-left: 240px;margin-top: 20px; ">
<table class="table" style="width:80%;text-align: center;">
    <thead>
      <tr>
        <th scope="col">Product Name</th>
        <th scope="col">Price</th>
        <th scope="col">Description</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="footer">
    <app-footer></app-footer>
    </div>
